body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
}

h2{
    padding: 0;
    margin: 0;
}

.title{
    font-size: 18px;
    margin: 10px 20px;
}

.price{
    font-size: 24px;
    font-weight: normal;
    margin: 10px 20px;
}

.description{
    height: 50px;
    color: grey;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.pizzaCard {
    width: 350px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.pizzaCard img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub__block{
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.sub__btn {
    margin-left: 5px;
    padding: 0;
    width: 70px;
    height: 30px;
    background-color: rgb(80, 180, 80);
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sub__btn img {
    width: 20px;
}

.submit__quantity {
    display: flex;
    align-items: center;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 0px;
    
}

.quan {
    margin: 0 px;
    width: 80px;
    text-align: center;
}

.btn {
    font-weight: bold;
    width: 25px;
    height:100%;
    background-color: rgb(235, 235, 235);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.select__block{
    margin-left:20px;
    width: 40%;
    padding: 5px;
    color:grey;
    border:1px solid grey;
    border-radius: 5px;
    font-size: 14px;
}


